---
import { Button } from "@/components/ui/button";
import { Badge } from "@/components/ui/badge";
import SectionLayout from "@/layouts/SectionLayout.astro";


const title = 'Engineering Tomorrow: A Journey Through Innovation and Expertise'
---





<SectionLayout
title={title}
mainSection={false}
sectionClass=""
slotClass=""
>
<p class="max-w-lg">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique accusamus voluptatem vitae praesentium ea, perferendis distinctio aliquid dolor pariatur, minima voluptatibus, porro nulla cupiditate eos maiores suscipit rerum dolore repellendus.
</p>
</SectionLayout>