---
import SectionLayout from "@/layouts/SectionLayout.astro";
import { getCollection } from "astro:content";

const title = "Insights and Innovations of my Latest Articles";

const allPosts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

// Limit the posts to a maximum of 3
const posts = allPosts.slice(0, 3);
---

<SectionLayout
  title={title}
  slotClass=""
  sectionClass="gap-12"
  mainSection={false}
>
  <div class="flex flex-col gap-5">
    {
      posts.map((article) => (
        <div>
          <img class="object-cover" src={article.data.heroImage} />
          <h2>{article.data.title}</h2>
        </div>
      ))
    }
  </div>
</SectionLayout>
