---
import PageTitle from "@/components/ui/PageTitle.astro";
import { Badge } from "@/components/ui/badge";
import SectionLayout from "@/layouts/SectionLayout.astro";


const title = "Where Creativity Meets Technology"
---




<SectionLayout
mainSection={true}
title={title}
slotClass=""
sectionClass="hero"
>     
           <div class="w-full  flex justify-end pt-4">
                <p class="desc max-w-lg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum eos, ex nostrum necessitatibus accusamus culpa voluptatum numquam consectetur molestiae ipsam enim totam odio perspiciatis minus ducimus autem quis molestias reiciendis?</p>
            </div>
</SectionLayout>

