---
import PortableText from "@/components/ui/PortableText.astro"




const {articles} = Astro.props

---



<div>
    <article>
        <PortableText value={article.content} />
    </article>

</div>