---
import { cn } from "@/lib/utils";

interface Props {
  href: string;
  className?: string;
}

const { href, className } = Astro.props;
---

<a
  href={href}
  class={cn("header-link max-w-fit flex flex-col overflow-hidden", className)}
>
  <slot />
  <span class="origin-left scale-x-0 border border-foreground link-line"></span>
</a>
