---
import { cn } from '@/lib/utils';
import { Button } from './button';
import {Icon} from 'astro-icon/components'


interface Props{
    name?: string;
    buttonClass?: string;
    iconClass?: string;
}

const {name, buttonClass, iconClass} = Astro.props;

---


<Button className={cn("",buttonClass)}>
    <Icon name={name} class={cn('',iconClass)}/>
</Button>