---
import { routes } from "@/data/index";
import { Icon } from "astro-icon/components";
import PageLinks from "../ui/PageLinks.astro";
import MobileNavigation from "../ui/MobileNavigation.astro";
import ThemeToggle from "./ThemeToggle.astro";
---

<header
  class="header fixed backdrop-blur-lg backdrop-filter z-10 top-0 h-12 w-full"
>
  <div class="relative flex px-6 justify-between items-center h-full">
    <a href="/">
      <h4 class="">Astro Blog</h4>
    </a>
    <MobileNavigation />
    <div class="hidden md:flex justify-center items-center gap-5">
      <PageLinks {...routes} />
      {" "}|{" "}

      <ThemeToggle />
    </div>
  </div>
</header>
