---
import { routes } from "@/data/index";
import {Icon} from 'astro-icon/components'
import PageLinks from "../ui/PageLinks.astro";
import MobileNavigation from "../ui/MobileNavigation.astro";
---

<header class="fixed backdrop-blur-lg backdrop-filter z-10 top-0 h-12 w-full">
  <div class="relative flex px-6 justify-between items-center h-full">
    <a href="/">
      <h4>Judah Sullivan</h4>
    </a>
    <PageLinks className="hidden md:flex gap-5" {...routes} />
    <MobileNavigation 
    />
    <div class="hidden md:flex">
      <Icon name="network/rss" />
      </div>

  </div>
</header>
